
# Environment variables
.env

# Logs
logs
*.log

# Node dependencies
node_modules

# Runtime data
.npm
.eslintcache

# Optional REPL history
.node_repl_history

# Uploaded files
uploads

# SSH keys
*.pem
*.key

# Credentials
credentials.json
token.json

# Optimized folder
optimized/
